{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="new_article">
        {{form.hidden_tag()}}
        <p>
            {{form.title.label}} {{form.title}}
            {% for error in form.errors.title %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p>
            {{form.body.label}} {{form.body}}
            {% for error in form.errors.body %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Save"></p>
    </form>
{% endblock %}
