{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="new_style">
        {{form.hidden_tag()}}
        <table>
            <tr>
                <td  class="form-label">{{form.hex.label}}</td>
                <td>{{form.hex}}</td>
                <td>
                    {% for error in form.errors.hex %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.name.label}}</td>
                <td>{{form.name}}</td>
                <td>
                    {% for error in form.errors.name %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.style.label}}</td>
                <td>{{form.style}}</td>
                <td>
                    {% for error in form.errors.style %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.description.label}}</td>
                <td>{{form.description(style="width: 500px; height: 400px;")}}</td>
                <td>
                    {% for error in form.errors.description %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.recipe.label}}</td>
                <td>{{form.recipe(style="width: 500px; height: 400px;")}}</td>
                <td>
                    {% for error in form.errors.recipe %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.gallons.label}}</td>
                <td>{{form.gallons}}</td>
                <td>
                    {% for error in form.errors.gallons %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.date_brewed.label}}</td>
                <td>{{form.date_brewed(id="datepicker")}}</td>
                <td>
                    {% for error in form.errors.date_brewed %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.date_bottled.label}}</td>
                <td>{{form.date_bottled(id="datepicker2")}}</td>
                <td>
                    {% for error in form.errors.date_bottled %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.gravity_og.label}}</td>
                <td>{{form.gravity_og}}</td>
                <td>
                    {% for error in form.errors.gravity_og %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td  class="form-label">{{form.gravity_fg.label}}</td>
                <td>{{form.gravity_fg}}</td>
                <td>
                    {% for error in form.errors.gravity_fg %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <p><input type="submit" value="Save"></p>
    </form>
{% endblock %}
