{% extends "base.html" %}

{% block content %}
    <h3>Brews {% if admin == True %}(<a href="/beer/manage/Beer/">new</a>){% endif %}:</h3>
    {% if beers %}
        <ul>
            {% for beer in beers %}
                <li>{% include "beer/list_item_beer.html" %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no beers--oh the humanity!</p>
    {% endif %}
    <h3>Beer Styles {% if admin == True %}(<a href="/beer/manage/BeerStyle/">new</a>){% endif %}:</h3>
    {% if styles %}
        <ul>
            {% for style in styles %}
                <li>{% include "beer/list_item_beer_style.html" %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no beer styles--oh the humanity!</p>
    {% endif %}
    <h3>Beers Style Types {% if admin == True %}(<a href="/beer/manage/BeerStyleType/">new</a>){% endif %}:</h3>
    {% if style_types %}
        <ul>
            {% for style_type in style_types %}
                <li>{% include "beer/list_item_beer_style_type.html" %}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no beer style types--oh the humanity!</p>
    {% endif %}
{% endblock %}