{% extends "base.html" %}
{% block content %}
    {% if user.first_name %}
        <h1>Hi, {{user.first_name}} {{ user.last_name }}!</h1>
    {% endif %}
    <p>Welcome to the Fourtitude Brewing Co.!</p>
    <p>Fourtitude is a very small, private, home based pico brewery located in Elmira, ON.  We brew very small batches of beer (5-7 gallon) typically once weekly focusing on a wide variety of different styles of beer (mostly ales). </p>
    <p>This site is "Hello World" serving mostly the purpose of providing an online reference to the various batches of beers we've brewed to date.  Our bottling process is entirely minimalistic, often times the only identifier on the bottle is a hexadecimal number scratched onto the bottle cap with a Sharpie--ergo, an online database was required.</p>
    There's not a lot of content here right now, but at the very least if one of us have given you a sampler pack and you're wondering what it contains, you can head on over to the <a href="/beer">Beer</a> section and see what you're drinking.</p>
    <p>For those curious about the hex based numbering system... Well, the four of us a are a bunch of geeks, and it seemed like a good idea at the time. To reinforce the geek cuture, this entire site's available to be forked on <a href="https://github.com/ariens/fourtitude_www">Github</a>.
{% endblock %}