{% extends "base.html" %}

{% block content %}
    {%  if problem == "invalid_email"%}
        <p>That e-mail address doesn't match one that we have associated to any of our users.  Please double-check that the e-mail address is spelled correctly and try again.</p>
    {%   endif %}
    <p>To reset your account's password enter your e-mail address below and click Reset Password.  If the e-mail matches an account that we have on record an e-mail address will be sent containing instructions for how to reset your password.</p>
    <form action="" method="post" name="request_password_reset">
        {{form.hidden_tag()}}
        <p>
            E-mail Address {{form.email}}
            {% for error in form.errors.email %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}
        </p>
        <p><input type="submit" value="Reset Password"></p>
    </form>
{% endblock %}
