{% extends "base.html" %}

{% block content %}
<p>Provide and confirm your new password below</p>
<form action="" method="post" name="register">
    {{form.hidden_tag()}}
    <p>
		{{form.password.label}} {{form.password}}
		{% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
	</p>
    <p>
		{{form.password_confirm.label}} {{form.password_confirm}}
		{% for error in form.errors.password_confirm %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
	</p>
    <p><input type="submit" value="Reset Password"></p>
</form>
{% endblock %}
