{% extends "base.html" %}

{% block content %}
    {%  if problem == "inactive" %}
        <p>Need help with you account activation?  When you originally registered on this site we sent you an e-mail containing a link to activate your account.  If you cannot find that email then you can check your spam or junk mail folder in case it was incorrectly flagged as spam by your mail server or you can send yourself another activation email by clicking <a href="/send_activation">here</a> (or the link below).</p>
    {%  endif %}
    {%  if problem == "password" %}
        <p>Need help with your password?  If you have forgot your password and need a reset, you can click <a href="/request_password_reset">here</a> (or the link below).</p>
    {%  endif %}
    <p>If you do not have an account on this site already then you can click <a href="/register">register</a> to create one.</p>
    <i><p>Please note that Fourtitude Brewing never uses your account for anything other than to validate that you're a real person.</i></p>
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <p>E-mail Address {{form.email}}</p>
        <p>Password {{form.password }}</p>
        <a href="/send_activation">Send Activation</a> | <a href="/request_password_reset">Reset Password</a>
        <p>{{form.remember_me}} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}
